*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans',  Calibri, 'Trebuchet MS', sans-serif;
}

/* colors and styling */

:root{
    --PrimaryColor: hsl(199,100%, 33%);
    --SecondaryColor: hsl(187,80%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 61%, 52%), hsl(199,100%,33%));
    --whiteColor: hsl(0,0%, 100%);
    --blackColor: hsl(201,33%, 10%);
    --whiteColorDeam: hsl(0,0%, 94%);
    --greyText: rgb(190,190, 190);
    --bodyColor: rgb(240,240, 240);
    --inputColor: rgb(225,225, 235);
}

html{
  scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.section{
    padding: 4rem 0 2rem;
}

.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;

}

.icon{
    font-size: 2rem;
    cursor: pointer;

}

.flex{
    display: flex;
    align-items: center;
}

.grid{
    display: grid;
    align-items: center;
}

.btn{
    padding: 0.6rem 1.5rem;
    background: var(--gradientColor);
    border-radius: 3rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn a{
    color: var(--whiteColor);
    font-weight: 500;
}

.btn:hover{
    background: var(--SecondaryColor);
}

img, video{
    width: 100%;
    height: auto;

}

input{
    font-size: 100%;
}

body{
    background: var(--bodyColor);
}



/* MEDIA QUEIRIES */

@media screen and (min-width:1240px) {
    .container{
        width: 80% !important;
        margin: auto !important;
        
    }

    .section{
        padding: 6rem 0 4rem;
    }
    
}


